.social {
    display: flex;
    align-items: center;

    &__text{
        margin-right: 2rem;

        color: $black;
        font-size: 0.8rem;
        font-weight: 600;
    }

    &__link{
        margin-right: 1rem;

        &:hover .social__icon{
            fill: $black; 
        }
    }

    &__icon{
        display: block;

        width: 30px;
        height: 30px;

        fill: #ababab;
        transition: .3s;

        &_fb{
            height: 23px;
            width: 23px;
        }

        &_ig{
            height: 25px;
            width: 25px;
        }
    }


}